:root {
	--main-blue: #6a98ee;
	--main-gray: #999999;
	--soft-gray: #eff3f6;
	--light-blue: #d4dff3;
	--light-blue-shade: #e3e7f0;
	--main-red: #e44d2d;
	--main-green: #8dc63f;

	--font-fam: 'Lato', sans-serif;
	--font-size: 12px;

	--main-padding: 10px 20px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--soft-gray);
	/* background-color: #eff3f6; */
	font-family: var(--font-fam);
	font-size: var(--font-size);
}

.container {
	position: relative;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.icon {
	width: 18px;
	height: auto;
	padding: 5px 10px;
}

.btn {
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 15%;

	position: absolute;
	top: 50px;
	left: 600px;
	cursor: pointer;
}

.btn:focus {
	outline: 0;
}

/* .dropdown:hover .dropdown-content {
	display: block;
} */

.circle {
	height: 18px;
	width: 18px;
	background-color: var(--main-red);
	color: #fff;
	border-radius: 50%;
	text-align: center;
	display: table;
	cursor: context-menu;

	position: absolute;
	top: 42px;
	left: 628px;
	z-index: 2;
}

#notification-num {
	color: #fff;
	font-size: 10px;
}

.vertical-center-text {
	display: table-cell;
	vertical-align: middle;
}

.dropdown-content {
	position: absolute;
	top: 93px;
	left: 370px;
	width: 308px;
	min-height: 120px;
	background-color: #fff;
	border-radius: 5px;
	z-index: 1;

	/* display: none; */

	-webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.hide-item {
	display: none;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-bottom: 10px solid var(--main-blue);

	position: absolute;
	top: -10px;
	left: 240px;
}

.blue-bar {
	background-color: var(--main-blue);
	border-radius: 5px 5px 0 0;
}

.component-heading {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.2em;
	padding: var(--main-padding);
}

.notification {
	margin: var(--main-padding);
	color: var(--main-gray);
	border-bottom: 1px solid #e6eaec;

	display: flex;
	flex-flow: row wrap;
}

.notification:hover {
	color: #454545;
}

.notification:last-child {
	border: none;
}

.notification-body {
	display: flex;
	flex-flow: row wrap;
	cursor: pointer;
}

.title {
	font-weight: 900;
}

.image {
	width: 44px;
	height: auto;
	border-radius: 50%;
	padding: 5px;
}

.notification-row {
	height: 22px;
	width: 100%;
}

.notification-badge {
	text-transform: uppercase;
	font-size: .7em;
	font-weight: 900;
	width: 38px;
	height: 14px;
	border-radius: 5px;
	color: #fff;
	display: table;
	text-align: center;
	float: right;
}

.notification-badge-new {
	background-color: var(--main-green);
}

.notification-badge-update {
	background-color: #ff8500;
	padding-left: 8px;
	padding-right: 8px;
}

.notification-text {
	width: 212px;
	height: 44px;
	padding-left: 15px;
	flex: 5 0px;
	display: table;
}

.time {
	float: right;
	text-align: right;
	padding-bottom: 5px;
}

.new-notification-visible {
	visibility: visible;
	opacity: 1;
	transition: all .4s ease-in;
	transform: translateY(8px);
}

.new-notification-hidden {
	visibility: hidden;
	opacity: 0;
	transition: all 0s .4s, all .4s ease-out;
	transform: translateY(-8px);
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: all .4s ease-out;
	transform: translateY(8px);
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: all 0s .4s, all .4s ease-in;
	transform: translateY(-8px);
}
